//styles for the activity board Menu that isnt the gig card
.activityBoard{
    position:relative;
    margin: 0 auto;
    display:flex;
    flex-flow: row wrap;
    background-color: lightgray;
    overflow: auto;
    width:100%;
}
ul{
    margin-top:0;
    padding: 30px 0;
    position: relative;
    display: flex;

    background: $base;
    flex-flow: row;
    border-bottom: 1px solid $compliment-light;
    justify-content: center;
     li{
         margin: 0 auto;
         padding: 0 10px;

         list-style: none;
         transition: all 0.5s;
         &:hover{ 
             transform: scale(1.2);
             color: white;

             
         }

     }
     @media only screen and (max-width: 768px) {
        width:100%;
        margin-top:40px;
    }
}
        a {
            color: $compliment;
            font-family: $mainFont;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            
            @media only screen and (max-width: 768px) {
                margin-top: 45px;
                font-size: 14px;
            }
        }