.activityBoard{
    position:relative;
    margin: 0 auto;
    display:flex;
    flex-flow: row wrap;
    margin-left: -32px;
    background-color: lightgray;
    padding: 2rem;
    overflow: auto;
    width:100%;
}
ul{
    margin-top: 90px;
    display: flex;
    flex-flow: row;
     li{
         padding: 0 10px;
     }
     @media only screen and (max-width: 768px) {
        width:100%;
        margin-top:40px;
    }
}
a {
    color: $compliment-light;
    font-size: 22px;
    @media only screen and (max-width: 768px) {
        margin-top: 45px;
        font-size: 14px;
    }
}