.profileCont{
    position: relative;
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-flow: column; 

    h3{
        color: $base;
        font-family: $mainFont;
        font-size: 1.5rem;
    }
    label{
        width: 100%;
        color: $base;
    }
    input,
    textarea{
        width: 97%;
        padding: 10px 0;
        font-size: 1.25rem;
        border: none;
        border-bottom: 1px solid lightgray;
    }
    .instrumentbox{
        @include default( auto);
        width: 97% !important;
    }
    button{
      @include button($base, $compliment)
    }
}