.footer{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background:$compliment;
    text-align: center;
    padding-bottom: 50px;

        @media only screen and (max-width: 600px){
            display: flex;
            flex-flow: column;
            width: 100%;
        }
        a{
            text-decoration: none;
            color: white;
            font-family: $mainFont;
            min-width: 100%;
            margin: 0 auto;
        }
    
            p{
                color:white;
                padding: 20px 0;
                margin: 0 auto;
                font-size: 1.5rem;
                font-family: $mainFont;
            }

}