.activityCard{
    position:relative;
    display: flex;
    flex-flow: row;
    width:100%;
    background: #e3e3e3;
    border-bottom: 1px solid lightgray;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    width:100%;
    margin: 0 auto;
    @media only screen and (max-width: 768px) {
       justify-content: flex-start;
    height: 20vh;
       margin-left: 0;
    }
    .activityTitle{
        min-width: 33%;
        max-width: 50%;
        @media only screen and (max-width: 768px) {
            font-size: .5rem;
            margin-right: 25px;
            margin-left: 10px;
        }
        color: $compliment;
        font-family: $default-font;
    }
    .bandArea{
        position:relative;
        display: flex;
        color: $compliment;
        font-family: $default-font;
        justify-content: flex-start;
        @media only screen and (max-width: 768px) {
            justify-content: space-evenly;
            margin: 0 10px;
        }
        width:40%;
        .membersSlot{
            position: relative;
            width:100%;
        }
        .bandName{
        
            @media only screen and (max-width: 768px) {
                font-size: .5rem;
            }
        }
        .bandPic{
            height:40px;
            border-radius:100%;
            @media only screen and (max-width: 768px) {
                max-height: 50%;
            }
        }
    }
    }