//styles for the main 3 pain home menu
.homeCont{
    @include default(100vh);
    display: flex;
    flex-flow: row;
    background: #e3e3e3;
    @media screen and (max-width: 600px){ 
        width: 100% !important;
        padding: 0 !important ;
        align-content: center;
    }
    .leftParent{
        position: relative;
        width: 33%;
        background-color:#e3e3e3;
        margin-top: 0;
        @media screen and (max-width: 600px){ 
            display: none;
        }
    }
    .middleParent{
        position: relative;
        width: 33%;
        margin-top: 0;
        
        text-align: center;
        background-color: rgba(255,255,255, 0.2);
        overflow: auto;
        @media screen and (max-width: 600px) { 
            width: 50%;

            
            
            
        }
    }
    .rightParent{
        position: relative;
        width: 33%;
        text-align: center;
        margin-top: 0;
        background-color: rgba(255,255,255, 0.1);
        @media screen and (max-width: 600px){ 
            width: 50%;
        }
        

    }

}