.homeCont{
    @include default(100vh);
    display: flex;
    flex-flow: row;
    .leftParent{
        position: relative;
        width: 25%;
        background-color: rgba(255,255,255, 0.4);
        margin-top: 90px;
        margin-left: -2rem;
    }
    .middleParent{
        position: relative;
        width: 37.5%;
        margin-top: 90px;
        text-align: center;
        background-color: rgba(255,255,255, 0.2)
    }
    .rightParent{
        position: relative;
        width: 37.5%;
        text-align: center;
        margin-top: 90px;
        background-color: rgba(255,255,255, 0.1)

    }

}