.landingCont{
    @include default(100vh);
    background: url('https://www.tokkoro.com/picsup/3106425-audience_band_concert_crowd_lights_music_musical-instruments_musician_musicians_party_people_performance_singer_smoke_spotlights_stage.jpg') center no-repeat;
    background-size: cover;
    padding-top: 10px;
    background-color: lighten($base,50%);
    background-blend-mode: multiply;
    text-align: center;
    .landingTitle{
        color: $compliment-light;
        font-size: 5rem;
        letter-spacing: .7rem;
        margin: 10% auto 0;
    }
    .landingSubTitle{
        font-size: 3rem;
        letter-spacing: .7rem;
        color: $compliment-light;
    }
    form{
        margin-top: 150px;
    }
    .landingLabel{
        color: lighten($compliment-light,10%);
        font-weight: bold;
        font-size: 1.5rem;
    }
    input{
        
        border: 1px solid $compliment;
        border-radius: 10px;
        margin: 10px;
        background: transparent;
        font-weight: bold;
        font-size: 1.5rem;
        color: $compliment-light;

    }
    button{
        @include button($compliment-light, $base)
    }

}