
.leftCont{
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 119px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    color: $compliment-light;
    .proTitle{
        margin: 20px auto; 

    }
    .profilePic{
        width: 200px;
        border-radius: 100%;
        margin: 0 auto;

    }
    .instruments,
    .rating{
        margin: 20px auto 0; 
    }
    button{
        @include button($base, $compliment);
    
    }
    @media screen and (max-width: 600px) { 
        display: none;
    }
}