.leftCont{
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 2;
    background: white;
    top: -1px;


    width: 100%;
    .proTitle{
        margin: 20px auto; 

    }
    .profilePic{
        width: 200px;
        border-radius: 100%;
        margin: 0 auto;

    }
    .instruments,
    .rating{
        margin: 20px auto 0; 
    }
    button{
        @include button($base, $compliment);
    }

}