//styles for the talent pool menu and cards
.poolCont{
    position: relative;
    overflow: scroll;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    justify-content: center;
    
    .cardBody{
        position: relative;
        border: 1px solid lightgray;
        text-align: center;
        height: 375px;
        background: lighten($compliment,15%);
        margin: 90px 20px 20px;
        border-radius: 50px;
        width: 20%;
        .cardImg{
            width:100%;
            height: 200px;
            border-radius: 50px;
        }
        @media only screen and (max-width: 768px) {
            height: 375px;
            width: 50%;
            button{
                width: 120px;
            }
        }
        .cardLink{
            @include button($base, $compliment)
        }
    }



}