//colors
$base: #0278a3;
$compliment : complement($base);
$compliment-light: lighten($compliment, 30%);

//fonts
$mainFont: 'Cabin', sans-serif;

@mixin nav ($position) {
    color: $compliment-light;
            font-size: 1.5rem;
            font-family: $mainFont;
            align-items: $position;
}

@mixin default($height){
    position: relative;
    width: 100%;
    height: $height;
}
@function div($number){
    
    @return (100/$number) + '%';
}